    /*
    Flaticon icon font: Flaticon
    Creation date: 22/06/2016 15:48
    */

    @font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-aubergine:before { content: "\f100"; }
.flaticon-beer:before { content: "\f101"; }
.flaticon-birthday-cake:before { content: "\f102"; }
.flaticon-biscuit:before { content: "\f103"; }
.flaticon-bread:before { content: "\f104"; }
.flaticon-breakfast:before { content: "\f105"; }
.flaticon-brochettes:before { content: "\f106"; }
.flaticon-burger:before { content: "\f107"; }
.flaticon-carrot:before { content: "\f108"; }
.flaticon-cheese:before { content: "\f109"; }
.flaticon-chicken:before { content: "\f10a"; }
.flaticon-chicken-1:before { content: "\f10b"; }
.flaticon-chocolate:before { content: "\f10c"; }
.flaticon-chocolate-1:before { content: "\f10d"; }
.flaticon-chocolate-2:before { content: "\f10e"; }
.flaticon-cocktail:before { content: "\f10f"; }
.flaticon-coffee:before { content: "\f110"; }
.flaticon-coke:before { content: "\f111"; }
.flaticon-covering:before { content: "\f112"; }
.flaticon-croissant:before { content: "\f113"; }
.flaticon-cup:before { content: "\f114"; }
.flaticon-cupcake:before { content: "\f115"; }
.flaticon-donut:before { content: "\f116"; }
.flaticon-egg:before { content: "\f117"; }
.flaticon-fish:before { content: "\f118"; }
.flaticon-fries:before { content: "\f119"; }
.flaticon-honey:before { content: "\f11a"; }
.flaticon-hot-dog:before { content: "\f11b"; }
.flaticon-icecream:before { content: "\f11c"; }
.flaticon-jam:before { content: "\f11d"; }
.flaticon-jelly:before { content: "\f11e"; }
.flaticon-juice:before { content: "\f11f"; }
.flaticon-ketchup:before { content: "\f120"; }
.flaticon-lemon:before { content: "\f121"; }
.flaticon-lettuce:before { content: "\f122"; }
.flaticon-loaf:before { content: "\f123"; }
.flaticon-milk:before { content: "\f124"; }
.flaticon-noodles:before { content: "\f125"; }
.flaticon-pepper:before { content: "\f126"; }
.flaticon-pickles:before { content: "\f127"; }
.flaticon-pie:before { content: "\f128"; }
.flaticon-pizza:before { content: "\f129"; }
.flaticon-rice:before { content: "\f12a"; }
.flaticon-sausage:before { content: "\f12b"; }
.flaticon-spaguetti:before { content: "\f12c"; }
.flaticon-steak:before { content: "\f12d"; }
.flaticon-tea:before { content: "\f12e"; }
.flaticon-water-glass:before { content: "\f12f"; }
.flaticon-watermelon:before { content: "\f130"; }
.flaticon-wine:before { content: "\f131"; }
    
    $font-Flaticon-aubergine: "\f100";
    $font-Flaticon-beer: "\f101";
    $font-Flaticon-birthday-cake: "\f102";
    $font-Flaticon-biscuit: "\f103";
    $font-Flaticon-bread: "\f104";
    $font-Flaticon-breakfast: "\f105";
    $font-Flaticon-brochettes: "\f106";
    $font-Flaticon-burger: "\f107";
    $font-Flaticon-carrot: "\f108";
    $font-Flaticon-cheese: "\f109";
    $font-Flaticon-chicken: "\f10a";
    $font-Flaticon-chicken-1: "\f10b";
    $font-Flaticon-chocolate: "\f10c";
    $font-Flaticon-chocolate-1: "\f10d";
    $font-Flaticon-chocolate-2: "\f10e";
    $font-Flaticon-cocktail: "\f10f";
    $font-Flaticon-coffee: "\f110";
    $font-Flaticon-coke: "\f111";
    $font-Flaticon-covering: "\f112";
    $font-Flaticon-croissant: "\f113";
    $font-Flaticon-cup: "\f114";
    $font-Flaticon-cupcake: "\f115";
    $font-Flaticon-donut: "\f116";
    $font-Flaticon-egg: "\f117";
    $font-Flaticon-fish: "\f118";
    $font-Flaticon-fries: "\f119";
    $font-Flaticon-honey: "\f11a";
    $font-Flaticon-hot-dog: "\f11b";
    $font-Flaticon-icecream: "\f11c";
    $font-Flaticon-jam: "\f11d";
    $font-Flaticon-jelly: "\f11e";
    $font-Flaticon-juice: "\f11f";
    $font-Flaticon-ketchup: "\f120";
    $font-Flaticon-lemon: "\f121";
    $font-Flaticon-lettuce: "\f122";
    $font-Flaticon-loaf: "\f123";
    $font-Flaticon-milk: "\f124";
    $font-Flaticon-noodles: "\f125";
    $font-Flaticon-pepper: "\f126";
    $font-Flaticon-pickles: "\f127";
    $font-Flaticon-pie: "\f128";
    $font-Flaticon-pizza: "\f129";
    $font-Flaticon-rice: "\f12a";
    $font-Flaticon-sausage: "\f12b";
    $font-Flaticon-spaguetti: "\f12c";
    $font-Flaticon-steak: "\f12d";
    $font-Flaticon-tea: "\f12e";
    $font-Flaticon-water-glass: "\f12f";
    $font-Flaticon-watermelon: "\f130";
    $font-Flaticon-wine: "\f131";