<?xml version="1.0" encoding="utf-8"?>

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.my.moms.pantry">

    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.MyApp">



        <activity android:name="com.my.moms.pantry.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="com.my.moms.pantry.PantryDetailActivity"
            android:parentActivityName="com.my.moms.pantry.MainActivity">
            <meta-data android:name="android.support.PARENT_ACTIVITY"
                android:value="com.my.moms.pantry.MainActivity" />
        </activity>
        <activity android:name="com.my.moms.pantry.GroceryDetailActivity"
            android:parentActivityName="com.my.moms.pantry.MainActivity">
            <meta-data android:name="android.support.PARENT_ACTIVITY"
                android:value="com.my.moms.pantry.MainActivity" />
        </activity>

        <activity android:name="com.my.moms.pantry.RecipeDetailActivity"
            android:parentActivityName="com.my.moms.pantry.MainActivity">
            <meta-data android:name="android.support.PARENT_ACTIVITY"
                android:value="com.my.moms.pantry.MainActivity" />
        </activity>

        <activity android:name="com.my.moms.pantry.SignInActivity" />
    </application>

</manifest>
